<div class="masters">
    <div class="header">Мастера</div>
    <a href="/pages/masters/serg_ey">
        <figure title="кликните, чтобы перейти на страницу мастера" >
            <img src="{{ site.data.authors['serg_ey'].avatar }}" alt="Serg Ey">
            <figcaption>Serg Ey</figcaption>
        </figure>
    </a>
    <a href="/pages/masters/green">
        <figure title="кликните, чтобы перейти на страницу мастера">
            <img src="{{ site.data.authors['green'].avatar }}" alt="Грин">
            <figcaption>Грин</figcaption>
        </figure>
    </a>
    <a href="/pages/masters/helga">
        <figure title="кликните, чтобы перейти на страницу мастера">
            <img src="{{ site.data.authors['helga'].avatar }}" alt="Хельга">
            <figcaption>Хельга</figcaption>
        </figure>
    </a>
    <a href="/pages/masters/alexandra">
        <figure title="кликните, чтобы перейти на страницу мастера">
            <img src="{{ site.data.authors['alexandra'].avatar }}" alt="Александра">
            <figcaption>Александра</figcaption>
        </figure>
    </a>
</div>
