{% assign author = site.data.authors[page.author] %}
<div class="master">
    <img class="picture" src="{{ author.picture }}">
    <div class="name">{{ author.ru.name }}</div>
    <div class="description">{{ author.ru.bio }}</div>
    <p class="contacts label">Контакты:</p>
    {% if author.links.email %}
        <div class="contacts">Email: <a href="mailto:{{ author.links.email | replace: "[at]", "@" | encode_email }}">{{author.links.email}}</a></div>
    {% endif %}
    {% if author.links.phone %}
    <div class="contacts">Телефон: {{author.links.phone}}</div>
    {% endif %}
    {% if author.links.facebook_nik %}
    <div class="contacts">Facebook: <a href="{{ author.links.facebook_link }}">{{author.links.facebook_nik}}</a></div>
    {% endif %}
    {% if author.links.instagram_nik %}
    <div class="contacts">Instagram: <a href="{{ author.links.instagram_link }}">{{author.links.instagram_nik}}</a></div>
    {% endif %}
    {% if author.links.youtube %}
    <div class="contacts">Youtube: <a href="{{ author.links.youtube }}">{{author.links.youtube}}</a></div>
    {% endif %}
    <div class="back-wrapper">
        <a href="/pages/ru/masters" class="back">&#8592 На страницу мастеров</a>
    </div>
</div>
