<div class="masters">
    <div class="header">Майстри</div>
    <a href="/pages/ua/masters/serg_ey">
        <figure title="клікніть, щоб перейти на сторінку майстра" >
            <img src="{{ site.data.authors['serg_ey'].avatar }}" alt="Serg Ey">
            <figcaption>Serg Ey</figcaption>
        </figure>
    </a>
    <a href="/pages/ua/masters/green">
        <figure title="клікніть, щоб перейти на сторінку майстра">
            <img src="{{ site.data.authors['green'].avatar }}" alt="Грін">
            <figcaption>Грін</figcaption>
        </figure>
    </a>
    <a href="/pages/ua/masters/helga">
        <figure title="клікніть, щоб перейти на сторінку майстра">
            <img src="{{ site.data.authors['helga'].avatar }}" alt="Хельга">
            <figcaption>Хельга</figcaption>
        </figure>
    </a>
    <a href="/pages/ua/masters/alexandra">
        <figure title="клікніть, щоб перейти на сторінку майстра">
            <img src="{{ site.data.authors['alexandra'].avatar }}" alt="Олександра">
            <figcaption>Олександра</figcaption>
        </figure>
    </a>
</div>
