body,html{width:100%;height:100%;position:fixed;top:0;}
body {
    text-align: center; overflow:hidden; font-size:14px;
    background: url(/assets/img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

main{
    position:absolute;
    background: url(/assets/img/index/logo_600.png) 50% 40% no-repeat;
    background-size:50%;
    top:50%;
    left:50%;
    width: 0;
    height:0;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow:yellow .2em .2em .5em;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    transition: all 1s ease-out 0s;
}

.hex{
    position:absolute;
    color:transparent;
    background: no-repeat 50% 50%;
    background-size:95%;
    text-align:center;
    font-weight:bold;
    text-decoration:none;
    width:0;
    height:0;
    border-radius: 50%;
    -webkit-transition: color 0s ease-out 0s;
    -moz-transition: color 0s ease-out 0s;
    -o-transition: color 0s ease-out 0s;
    transition: color 0s ease-out 0s;
}
.hex:active{
    box-shadow: inset 1px 1px 5em -3em #000, inset -1px -1px 5em -3em #000, inset -1px 1px 5em -3em #000, inset 1px -1px 5em -3em #000;
}
.hex:hover{
    color: #f0f;
    text-shadow: #fcf 1px 1px 4px, #fcf -1px -1px 4px, #fcf -1px 1px 4px, #fcf 1px -1px 4px;
}

@media handheld{
    .hex{
        color:#f0f;
        text-shadow:#fcf 1px 1px 2px, #fcf -1px -1px 2px, #fcf -1px 1px 2px, #fcf 1px -1px 2px;
    }
}

#about			{background-image:url(/assets/img/index/b_about.png);}
#about:hover	{background-image:url(/assets/img/index/b_about_h.png);}
#research		{background-image:url(/assets/img/index/b_research.png);}
#research:hover	{background-image:url(/assets/img/index/b_research_h.png);}
#work			{background-image:url(/assets/img/index/b_work.png);}
#work:hover		{background-image:url(/assets/img/index/b_work_h.png);}
#groups			{background-image:url(/assets/img/index/b_group.png);}
#groups:hover	{background-image:url(/assets/img/index/b_group_h.png);}
#masters		{background-image:url(/assets/img/index/b_masters.png);}
#masters:hover	{background-image:url(/assets/img/index/b_masters_h.png);}
#forum			{background-image:url(/assets/img/index/b_forum.png);}
#forum:hover	{background-image:url(/assets/img/index/b_forum_h.png);}
#support		{background-image:url(/assets/img/index/b_library.png);}
#support:hover	{background-image:url(/assets/img/index/b_library_h.png);}
#contacts		{background-image:url(/assets/img/index/b_contacts.png);}
#contacts:hover	{background-image:url(/assets/img/index/b_contacts_h.png);}

.left{left:0;}
.right{right:0;}
.up{top:0;}
.dn{bottom:0;}

.pan:hover{opacity:1;}

.panh{padding:0; margin:14px 0 0; text-align: center; text-indent:0; color:#f0f;font-size:50%; font-weight:bold;text-shadow:#fcf 1px 1px 4px, #fcf -1px -1px 4px, #fcf -1px 1px 4px, #fcf 1px -1px 4px;}
.cont{position:absolute; display:block; overflow:hidden;width:80%;margin:0.2em 1em;}
.cont p{margin:0; color:#00f; text-align: left; font-size:.4em; padding:0 0 0 3em;text-indent:-3em; text-overflow:clip;}
.cont li{margin:0; color:#00f; text-align: left; font-size:.4em; padding:0 0 0 3em;text-indent:-3em; text-overflow:clip;}

.language-switch{
    position: absolute;
    right: -5em;
}

.language-switch img{
    width: 3em;
    border-radius: 1em;
    box-shadow: #3b3b3b .2em .4em 1em;
    opacity: .5;
}

.language-switch img.active{
    opacity: 1;
}
