<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>ИЭК: {{ page.title }}</title>
</head>
<body>
<header>
    <img src="/assets/img/main_banner_ru_1600.png" alt="Институт энергетической коррекции">
    <nav>
        <ul id="menu">
            <li><a class="ref" href="/index">Главная</a></li>
            <li><a class="ref" href="/pages/about">О нас</a></li>
            <li><a class="menu" href="/pages/research">Направления исследований</a>
                <ul>
                    <li><a class="ref" href="/pages/research/energy">Энергоструктуры человека</a></li>
                    <li><a class="ref" href="/pages/research/atma">Атманический план</a></li>
                    <li><a class="ref" href="/pages/research/budhi">Будхический план</a></li>
                    <li><a class="ref" href="/pages/research/manas">Манасический план</a></li>
                    <li><a class="ref" href="/pages/research/karma">Кармический план</a></li>
                    <li><a class="ref" href="/pages/research/mental">Ментальный план</a></li>
                    <li><a class="ref" href="/pages/research/astral">Астральный план</a></li>
                    <li><a class="ref" href="/pages/research/efir">Эфирный план</a></li>
                    <li><a class="ref" href="/pages/research/fiz">Физический план</a></li>
                </ul>
            </li>
            <li><a class="ref" href="/pages/work">Направления работы</a></li>
            <!-- <li><a class="ref" href="#">Группы и тренинги</a></li> -->
            <li><a class="ref" href="/pages/masters">Мастера</a></li>
            <li><a class="ref" href="https://www.facebook.com/groups/ecorr/">Форум</a></li>
            <li><a class="menu" href="#">Информация</a>
                <ul>
                    <li><a class="ref" href="/pages/slovar">Словарь</a></li>
                    <li><a class="ref" href="/pages/faq">Вопрос-Ответ</a></li>
                    <li><a class="ref" href="/pages/library">Библиотека</a></li>
                    <li><a class="ref" href="/pages/disclaimer">Клиентское соглашение</a></li>
                </ul>
            </li>
            <li><a class="ref" href="/pages/contacts">Контакты</a></li>
        </ul>
    </nav>
</header>
<main>
    {{content}}
</main>
<script src="/assets/js/main.js"></script>
</body>
</html>
