<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>ІЕК: {{ page.title }}</title>
</head>
<body>
<header>
    <img src="/assets/img/main_banner_ru_1600.png" alt="Інститут енергетичної корекції">
    <nav>
        <ul id="menu">
            <li><a class="ref" href="/index">Головна</a></li>
            <li><a class="ref" href="/pages/ua/about">Про нас</a></li>
            <li><a class="menu" href="/pages/ua/research">Напрямки досліджень</a>
                <ul>
                    <li><a class="ref" href="/pages/ua/research/energy">Енергоструктури людини</a></li>
                    <li><a class="ref" href="/pages/ua/research/atma">Атманічний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/budhi">Будхічний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/manas">Манасічний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/karma">Кармічний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/mental">Ментальний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/astral">Астральний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/efir">Ефірний план</a></li>
                    <li><a class="ref" href="/pages/ua/research/fiz">Фізичний план</a></li>
                </ul>
            </li>
            <li><a class="ref" href="/pages/ua/work">Напрямки роботи</a></li>
            <!-- <li><a class="ref" href="#">Группы и тренинги</a></li> -->
            <li><a class="ref" href="/pages/ua/masters">Майстри</a></li>
            <li><a class="ref" href="https://www.facebook.com/groups/ecorr/">Форум</a></li>
            <li><a class="menu" href="#">Інформація</a>
                <ul>
                    <li><a class="ref" href="/pages/ua/info/slovar">Словар</a></li>
                    <li><a class="ref" href="/pages/ua/info/faq">Питання-відповідь</a></li>
                    <li><a class="ref" href="/pages/ua/info/disclaimer">Клиєнтська угода</a></li>
                </ul>
            </li>
            <li><a class="ref" href="/pages/ua/contacts">Контакти</a></li>
        </ul>
    </nav>
</header>
<main>
    {{content}}
</main>
<script src="/assets/js/main.js"></script>
</body>
</html>
