---
layout: default_ru
---
{% if page.author %}
{% include master_ru.html %}
{% else %}
{% include masters_ru.html %}
{% endif %}

<div class="posts">
    <div class="postsWrapper">
        {% for post in site.posts %}
        {% if page.author == nil or page.author == post.author %}
        {% assign author = site.data.authors[post.author] %}
        <a class="post" href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ optimize }}{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}" class="post-image"/>

            <div class="post-details">
                <div class="title">{{ post.title }}</div>
                <p class="excerpt">{{ post.excerpt }}</p>
            </div>

            <div class="post-meta">
                <div class="post-meta-wrapper">
                    <div class="post-author">
                        <img
                                src="{{ site.baseurl }}{{ author.small_avatar }}"
                                alt="{{ author.ru.name }}'s Profile Picture"
                                title="{{ author.ru.name }}'s Profile Picture"
                                class="post-author-ava"
                        />

                        <span class="post-author-name">{{ author.ru.name }}</span>
                    </div>

                    <span class="post-date">{{ post.date | date:"%e-%m-%Y" }}</span>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="disclaimer">
        Все материалы на данных страницах являются авторскими. Позиция администрации сайта необязательно совпадает
        с мнением мастеров. <b>Цитирование, копирование и размещение данных материалов возможно исключительно с
        указанием автора материала и с интерактивной ссылкой на материал автора на нашем сайте.</b>
    </div>
</div>
